* {
  box-sizing: border-box;
}
.index {
  width: 100%;
  height: 100vh;
  background: #ededee;
}
.index .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: #1E243C;
}
.index .header .title {
  padding-left: 50px;
  color: #ffffff;
}
.index .header .title p {
  font-family: Microsoft YaHei;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}
.index .header .datetime {
  color: #ffffff;
  font-family: Microsoft YaHei;
  font-weight: 400;
  padding-right: 50px;
}
.index .content {
  height: calc(100vh - 70px);
  box-sizing: border-box;
  padding: 10px 5px;
  display: flex;
}
.index .content .left {
  width: 78%;
  height: 100%;
}
.index .content .left .cur-num {
  width: 100%;
  height: 15%;
  display: flex;
}
.index .content .left .cur-num .cur_num_left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 33%;
  background-color: #fff;
  border-radius: 10px;
}
.index .content .left .cur-num .cur_num_right {
  margin-left: 1%;
  width: 66%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 10px;
}
.index .content .left .cur-num .all_num {
  display: flex;
}
.index .content .left .cur-num .all_num .img_box {
  width: 60px;
  display: flex;
  align-items: center;
}
.index .content .left .cur-num .all_num .img_box img {
  width: 100%;
}
.index .content .left .cur-num .all_num .content_text_r {
  margin-left: 7px;
}
.index .content .left .cur-num .all_num .content_text_r p {
  font-weight: 700;
  font-size: 28px;
  margin: 0;
}
.index .content .left .cur-num .all_num .content_text_r span {
  color: #999;
  font-size: 16px;
}
.index .content .left .statistics {
  display: flex;
  width: 100%;
  background-color: #fff;
  height: 45%;
  margin: 1% 0;
  border-radius: 10px;
}
.index .content .left .statistics .iframe_box {
  width: 100%;
  height: calc(100% - 30px);
}
.index .content .left .statistics .iframe_box .shipin {
  width: 100%;
  height: 100%;
}
.index .content .left .statistics .camera {
  width: 48%;
  margin: 1%;
}
.index .content .left .statistics .p_text {
  height: 25px;
  line-height: 25px;
  border-left: 3px solid #3961FF;
  padding-left: 10px;
  margin-bottom: 5px;
}
.index .content .left .statistics .p_text p {
  font-weight: 700;
  color: #060606;
  margin: 5px 0;
  font-size: 16px;
}
.index .content .left .chart_b {
  display: flex;
  border-radius: 10px;
  background: #ffffff;
  width: 100%;
  height: calc(100% - 61% - 20px);
}
.index .content .left .chart_b .chart_box {
  width: 48%;
  margin: 1%;
}
.index .content .left .chart_b .chart_box .zanwu {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  color: #5c5c5c;
}
.index .content .left .chart_b .chart_box .chart_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}
.index .content .left .chart_b .chart_box .chart_content .content_mes span {
  color: #060606;
}
.index .content .left .chart_b .chart_box .chart_content .content_mes i {
  font-style: normal;
  color: #FF9327;
}
.index .content .left .chart_b .chart_box .chart_content .content_title {
  height: 25px;
  line-height: 25px;
  border-left: 3px solid #3961FF;
  padding-left: 10px;
}
.index .content .left .chart_b .chart_box .chart_content .content_title p {
  font-size: 16px;
  color: #060606;
  font-weight: 700;
  margin: 0;
}
.index .content .right {
  width: 23%;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 1%;
  padding: 1%;
  overflow: hidden;
}
.index .content .right .car_pai {
  margin-bottom: 2%;
}
.index .content .right .car_pai p {
  padding-left: 10px;
  margin: 0;
  border-left: 3px solid #3961FF;
  font-weight: 700;
}
.index .content .right .in_box_heng {
  width: 100%;
  height: 100%;
  display: flex;
}
.index .content .right .in_box_heng .in_box_item_l {
  width: 49%;
}
.index .content .right .in_box_heng .in_box_item_l .in_box_item_div img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.index .content .right .in_box_heng .in_box_item_r {
  width: 49%;
  margin-left: 2%;
}
.index .content .right .in_box_heng .in_box_item_r .in_box_item_div img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.index .content .right .in_box_heng .in_box_bottom .in_box_bottom_ico {
  width: 30px;
  display: inline-block;
  background-color: #dbf5d9;
  color: #4acd41;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
}
.index .content .right .in_box_heng .in_box_bottom .in_box_bottom_ico2 {
  width: 30px;
  display: inline-block;
  background-color: #ffe8da;
  color: #ff8d47;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
}
.index .content .right .in_box_heng .in_box_bottom .in_box_bottom_text {
  font-size: 14px;
}
