@main_bg: #1B1E2F;
@sub_bg: #1E243C;
* {
    box-sizing: border-box;
}
.index{
    width: 100%;
    height: 100vh;
    background: #ededee;
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 70px;
        background: #1E243C;
        .title{
            padding-left: 50px;
            color: #ffffff;
            p {
                font-family: Microsoft YaHei;
                font-size: 30px;
                font-weight: 700;
                margin: 0;
            }
        }
        .datetime{
            color: #ffffff;
            font-family: Microsoft YaHei;
            font-weight: 400;
            padding-right: 50px;
        }
    }
    .content{
        height: calc(100vh - 70px);
        box-sizing: border-box;
        padding: 10px 5px;
        display: flex;
        .left{
            width: 78%;
            height: 100%;
            .cur-num{
                width: 100%;
                height: 15%;
                display: flex;
                .cur_num_left{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 33%;
                    background-color: #fff;
                    border-radius: 10px;
                }
                .cur_num_right{
                    margin-left: 1%;
                    width: 66%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    background-color: #fff;
                    border-radius: 10px;
                }
                .all_num {
                    display: flex;
                    .img_box {
                        width: 60px;
                        display: flex;
                        align-items: center;
                        img {
                            width: 100%;
                        }
                    }
                    .content_text_r {
                        margin-left: 7px;
                        p {
                            font-weight: 700;
                            font-size: 28px;
                            margin: 0;
                        }
                        span {
                            color: #999;
                            font-size: 16px;
                        }
                    }
                }
            }
            .statistics{
                display: flex;
                width: 100%;
                background-color: #fff;
                height: 45%;
                margin: 1% 0;
                border-radius: 10px;
                .iframe_box {
                    width: 100%;
                    height: calc(100% - 30px);
                    .shipin {
                        width: 100%;
                        height: 100%;
                    }
                }
                .camera {
                    width: 48%;
                    margin: 1%;
                }
                .p_text {
                    height: 25px;
                    line-height: 25px;
                    border-left: 3px solid #3961FF;
                    padding-left: 10px;
                    margin-bottom: 5px;
                    p {
                        font-weight: 700;
                        color: #060606;
                        margin: 5px 0;
                        font-size: 16px;
                    }
                }

            }
            .chart_b {
                display: flex;
                border-radius: 10px;
                background: rgb(255, 255, 255);
                width: 100%;
                height: calc(100% - 61% - 20px);
                .chart_box {
                    width: 48%;
                    margin: 1%;
                    .zanwu {
                        width: 100%;
                        height: 90%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 30px;
                        font-weight: 700;
                        color: rgb(92, 92, 92);
                    }
                    .chart_content {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 1%;
                        .content_mes {
                            span {
                                color: #060606;
                            }
                            i {
                                font-style: normal;
                                color: #FF9327;
                            }
                        }
                        .content_title {
                            height: 25px;
                            line-height: 25px;
                            border-left: 3px solid #3961FF;
                            padding-left: 10px;
                            p {
                                font-size: 16px;
                                color: #060606;
                                font-weight: 700;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        .right{
            width: 23%;
            background-color: #fff;
            border-radius: 10px;
            margin-left: 1%;
            padding: 1%;
            overflow: hidden;
            .car_pai {
                margin-bottom: 2%;
                p {
                    padding-left: 10px; 
                    margin: 0;
                    border-left: 3px solid #3961FF;
                    font-weight: 700;
                }
            }
            .in_box_heng {
                width: 100%;
                height: 100%;
                // overflow: auto;
                display: flex;
                .in_box_item_l {
                    width: 49%;
                    .in_box_item_div {
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                        }
                    }
                }
                .in_box_item_r {
                    width: 49%;
                    margin-left: 2%;
                    .in_box_item_div {
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                        }
                    }
                }
                .in_box_bottom {
                    .in_box_bottom_ico {
                        width: 30px;
                        display: inline-block;
                        background-color: #dbf5d9;
                        color: #4acd41;
                        text-align: center;
                        border-radius: 5px;
                        margin-right: 10px;
                    }
                    .in_box_bottom_ico2 {
                        width: 30px;
                        display: inline-block;
                        background-color: #ffe8da;
                        color: #ff8d47;
                        text-align: center;
                        border-radius: 5px;
                        margin-right: 10px;
                    }
                    .in_box_bottom_text {
                        font-size: 14px;
                    }
                }
            }
        }

    }

}